Repository milind0307/test-git-actions, pull requests merged in 2022-07, with the labels that each got.

#6 Update labels.yml
  .github/labels.yml
Labels: labelapplyaa, automerge

#7 Create automerge.yml
  .github/workflows/automerge.yml
Labels: labelapplyaa, automerge

#8 Update labels.yml
  .github/labels.yml
Labels: labelapplyaa, automerge

#9 Update labels.yml
  .github/labels.yml
Labels: labelapplyaa, automerge

#12 Update auto-assignee.yml
  .github/auto-assignee.yml
Labels: labelapplyaa, automerge

#27 Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: labelapplyaa, automerge

#32 Update labeler.yml
  .github/labeler.yml
Labels: labelapplyaa, automerge, size/XS, feature

#37 Update labeler.yml
  .github/labeler.yml
Labels: labelapplyaa, automerge, size/XS, feature, Work in progress

#57 Update README.md
  README.md
Labels: size/XS, approved, fix, lgtm

#58 Update stale-pr-notify.yml
  .github/workflows/stale-pr-notify.yml
Labels: size/XS, approved, fix, lgtm

#59 Update labels.yml
  .github/labels.yml
Labels: size/XS, approved, fix

#68 Update labels.yml
  .github/labels.yml
Labels: size/XS, fix

#72 Update README.md
  README.md
Labels: size/XS, approved, fix

#73 Update define-labels.yml
  .github/workflows/define-labels.yml
Labels: size/XS, approved, fix

#74 Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: size/XS, Work in progress, approved, fix

#76 Update README.md
  README.md
Labels: size/XS, Work in progress, approved, fix

#79 Update README.md
  README.md
Labels: size/XS, Work in progress, approved, fix

#80 Update README.md
  README.md
Labels: size/XS, approved

#81 Update README.md
  README.md
Labels: size/XS, approved

#86 Update README.md
  README.md
Labels: size/XS, approved, fix, In progress

#87 Update README.md
  README.md
Labels: size/XS, approved, fix

#90 Update README.md
  README.md
Labels: size/XS, approved, fix

#91 Update README.md
  README.md
Labels: size/XS, approved, fix

#92 Update README.md
  README.md
Labels: approved, fix, size/XS, lgtm, kind/feature

#94 Update README.md
  README.md
Labels: approved, fix, size/XS, In progress, Review Requested

#95 Update auto-assign-prs.yml
  .github/workflows/auto-assign-prs.yml
Labels: approved, fix, size/XS

#96 Update label-pr-approved.yml
  .github/workflows/label-pr-approved.yml
Labels: approved, fix, size/XS

#97 Update labeler.yml
  .github/labeler.yml
Labels: approved, fix, size/XS, Review Requested, kind/failing

#98 Update auto-assign-prs.yml
  .github/workflows/auto-assign-prs.yml
Labels: approved, fix, size/XS, lgtm

#99 Update auto-assign-prs.yml
  .github/workflows/auto-assign-prs.yml
Labels: approved, fix, size/XS, lgtm
